.App-logo {
  height: 5vmin;
  position: fixed;
  margin-top: 1.5vmin;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-logo {
  animation: App-logo-spin infinite 3s linear;
}

.App-logo:hover {
  filter: invert(.25);
  animation: App-logo-spin infinite 1s reverse linear;
}

.App {
  background-color: #000000;
  color: white;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}